{% extends 'content_base.html.twig' %}

{% block title %}Accounts page{% endblock %}

    {% block css %}
    {{ parent() }} {# Allows us to add to the existing stylesheets instead of replacing them #}

        <link rel="stylesheet" href="{{ asset('css/accountInfo.css') }}">
    {% endblock %}

{% block content_body %}

    {% if userInfo %}
        <h1>{{ picture }}</h1>

        {% for userData in userInfo %}
{#            <h1>{{ commentsSize[0] }}</h1>#}
        {% endfor %}
    {% endif %}

    <div class="col-12">

        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <div class="alert alert-warning" style="margin-bottom: 0;">
                You are currently logged in as this user.
            </div>
        {% endif %}
        <div class="row  mt-3">
            <div class="col-sm-12 col-md-4">
                <img  class="profile-img-r img-fluid mb-5" src="https://thispersondoesnotexist.com/image">
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <h1 class="mb-4" >Welcome, {{ app.user.firstName }}</h1>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center">
                        <div class="border-r profile-info-container">
                            <p class="lead" >comments</p>
                            <p>123</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 text-center">
                        <div class="border-r profile-info-container">
                            <p class="lead" >likes</p>
                            <p>123</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="col-12">
            <div class="row">
                <a  href="/admin/displayUsers?_switch_user=_exit">Go Back</a>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}
