{% extends 'content_base.html.twig' %}

{% block title %}SymphArt Articles{% endblock %}

{% block content_body %}



    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Articles  ({{ pagination.getTotalItemCount }})</h1>



            <form>
                <div class="input-group mb-3">
                    <input type="text"
                           name="q"
                           class="form-control"
                           value=""
                           placeholder="Search..."
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Article</th>
                    <th>Author</th>
                    <th>Created</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for article in pagination %}
                    <tr>
                        <td>
                            <a href="/article/{{ article.id }}">
                                {{ article.movieTitle }}
                            </a>
                        </td>
                        <td>
                            {{ article.id }}
                        </td>
                        <td>
                            {{ article.date|date('d-m-y') }}
                        </td>
                        <td>
                            <a href="/article/{{ article.id }}" class="btn btn-light">Show</a>
                        </td>
                        <td>
                            <a href="/article/edit/{{ article.id }}" class="btn btn-light">Edit</a>
                        </td>
                        <td>
                            <a href="#" class="btn btn-danger delete-article border-r" data-id="{{ article.id }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            Sorry you have not articles to display
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(pagination) }}

        </div>
    </div>

    {% endblock %}

    {% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}