{% extends 'base.html.twig' %}

{% block title %}SymphArt Articles ({{ pagination.getTotalItemCount }}){% endblock %}

{% block body %}
    <form>
        <div class="input-group mb-3">
            <input type="text"
                   name="q"
                   class="form-control"
                   value="{{ app.request.query.get('query') }}"
                   placeholder="Search..."
            >
            <div class="input-group-append">
                <button type="submit"
                        class="btn btn-outline-secondary">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </form>

    {% if pagination %}
            <div class="row card-group"  id="articles">

    {% for article in pagination %}
                <div class="col-sm-12 col-md-4">
                    <div class="card border-r text-center border-primary">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.movieTitle }}</h5>
                            <img class="card-img-top" src="{{ asset('images//films/')~article.picture}}"  alt="Card image cap">
                            <p class="card-text">By {{ article.userID.firstName }}</p>
                            <a href="/article/{{ article.id }}" class="btn btn-primary border-r">Show</a>
                            <a href="/article/edit/{{ article.id }}" class="btn btn-secondary border-r">Edit</a>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="#" class="btn btn-danger delete-article border-r" data-id="{{ article.id }}">Delete</a>
                            {% endif %}
                            <p class="card-text mt-4"><small class="text-muted">{{ article.NonRemovedComments|length}} comments</small></p>
                            <p class="card-text mt-4"><small class="text-muted">Last updated at {{ article.date|date('H:i:s')}} ago</small></p>
                        </div>
                    </div>
                </div>
    {% endfor %}

            </div>






    {% else %}
        <p>Sorry you have not articles to display<p>
    {% endif %}


<div class="my-5">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}