{% extends 'content_base.html.twig' %}

{% block title %}{{ article.movieTitle }}{% endblock %}

{% block content_body %}
    <div class="12">
        <div class="mt-2 row">
            <div class="col-sm-12 col-md-6">
                <img class="img-fluid mb-5"
                     src="https://images.pexels.com/photos/2524145/pexels-photo-2524145.jpeg?cs=srgb&dl=pexels-hoang-loc-2524145.jpg&fm=jpg">
            </div>
            <div class="col-sm-12 col-md-6">
                <h1>{{ article.movieTitle }}</h1>
                <small>By {{ article.userID.firstName }}</small>
                <p class="justify-text">{{ article.messageBody }}</p>
            </div>
            <hr>

            {# Method allows for form to be sent and extracted. To extract data, name must be given for each field #}
            {# If you need to extract and reference the id number which is labeled like this, {} do it like below, where id: si what was specified in the controller url #}
            <div class="col-12">
                <h2 class="mt-5 mb-4">{{ article.NonRemovedComments|length }} comments</h2>
                {% if is_granted('ROLE_USER_COMMENT') %}

                <form method="POST" action="{{ path('article_submit_comment', {id: article.id}) }}">
                    <div class="input-group">
                        <textarea class="form-control" name="commentData" aria-label="With textarea"></textarea>
                        <div class="input-group-prepend">
                        <input type="hidden" name="currentUser" value="{{ app.user.firstName }}">
                            <button class="btn btn-outline-secondary" value="Submit" name="submitButton" type="submit">Submit</button>
                        </div>
                </form>

                    {% endif %}
                </div>
            {% for comment in article.NonRemovedComments %}
                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <img  class="profile-img-r img-fluid mb-5"
                              src="https://thispersondoesnotexist.com/image">
                    </div>
                    <div class="col-sm-12 col-md-10">
                        <h3>{{ comment.userID.firstName }}</h3>
                        <span> about {{ comment.date|date('H:i:s d-m-y') }}</span>
                        <p class="justify-text">{{ comment.commentBody }}</p>
                        {% if comment.isDeleted %}
                            <span class="fa fa-close"></span> deleted
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="col-12">
                <div class="row">
                    <a  href="/">Go Back</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}